/* @import './assets/flags/flags.css'; */

.p-breadcrumb > ul > li.p-breadcrumb-chevron:first-of-type {
  display: none;
}

.layout-dashboard {
  /* Responsive */
}
.layout-dashboard .p-paginator .p-paginator-current {
  margin-left: auto;
}
.layout-dashboard .p-progressbar {
  height: 0.5rem;
  background-color: #D8DADC;
}
.layout-dashboard .p-progressbar .p-progressbar-value {
  background-color: #607D8B;
}
.layout-dashboard .table-header {
  display: flex;
  justify-content: space-between;
}
.layout-dashboard .p-calendar .p-datepicker {
  min-width: 25rem;
}
.layout-dashboard .p-calendar .p-datepicker td {
  font-weight: 400;
}
.layout-dashboard .p-datatable.p-datatable-customers .p-datatable-header {
  text-align: left;
  font-size: 1.5rem;
}
.layout-dashboard .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
  text-align: left;
}
.layout-dashboard .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}
.layout-dashboard .p-datatable.p-datatable-customers:not(.p-datatable-gridlines) .p-datatable-tbody > tr > td {
  cursor: auto;
}
.layout-dashboard .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}
.layout-dashboard .customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.layout-dashboard .customer-badge.status-qualified {
  background: #C8E6C9;
  color: #256029;
}
.layout-dashboard .customer-badge.status-unqualified {
  background: #FFCDD2;
  color: #C63737;
}
.layout-dashboard .customer-badge.status-negotiation {
  background: #FEEDAF;
  color: #8A5340;
}
.layout-dashboard .customer-badge.status-new {
  background: #B3E5FC;
  color: #23547B;
}
.layout-dashboard .customer-badge.status-renewal {
  background: #ECCFFF;
  color: #694382;
}
.layout-dashboard .customer-badge.status-proposal {
  background: #FFD8B2;
  color: #805B36;
}
.layout-dashboard .product-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.layout-dashboard .product-badge.status-instock {
  background: #C8E6C9;
  color: #256029;
}
.layout-dashboard .product-badge.status-outofstock {
  background: #FFCDD2;
  color: #C63737;
}
.layout-dashboard .product-badge.status-lowstock {
  background: #FEEDAF;
  color: #8A5340;
}
.layout-dashboard .order-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.layout-dashboard .order-badge.order-delivered {
  background: #C8E6C9;
  color: #256029;
}
.layout-dashboard .order-badge.order-cancelled {
  background: #FFCDD2;
  color: #C63737;
}
.layout-dashboard .order-badge.order-pending {
  background: #FEEDAF;
  color: #8A5340;
}
.layout-dashboard .order-badge.order-returned {
  background: #ECCFFF;
  color: #694382;
}
@media screen and (max-width: 960px) {
  .layout-dashboard .p-datatable.p-datatable-customers .p-datatable-thead > tr > th,
.layout-dashboard .p-datatable.p-datatable-customers .p-datatable-tfoot > tr > td {
    display: none !important;
  }
  .layout-dashboard .p-datatable.p-datatable-customers .p-datatable-tbody > tr {
    border-bottom: 1px solid var(--surface-d);
  }
  .layout-dashboard .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0 none !important;
    width: 100% !important;
    float: left;
    clear: left;
    border: 0 none;
  }
  .layout-dashboard .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4rem 1rem -0.4rem -0.4rem;
    font-weight: bold;
  }
  .layout-dashboard .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-progressbar {
    margin-top: 0.5rem;
  }
}

.list-demo .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}
.list-demo .product-description {
  margin: 0 0 1rem 0;
}
.list-demo .product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}
.list-demo .product-category {
  font-weight: 600;
  vertical-align: middle;
}
.list-demo .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.list-demo .product-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}
.list-demo .product-list-item .product-list-detail {
  flex: 1 1 0;
}
.list-demo .product-list-item .p-rating {
  margin: 0 0 0.5rem 0;
}
.list-demo .product-list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}
.list-demo .product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}
.list-demo .product-list-item .p-button {
  margin-bottom: 0.5rem;
}
.list-demo .product-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.list-demo .product-badge.status-instock {
  background: #C8E6C9;
  color: #256029;
}
.list-demo .product-badge.status-outofstock {
  background: #FFCDD2;
  color: #C63737;
}
.list-demo .product-badge.status-lowstock {
  background: #FEEDAF;
  color: #8A5340;
}
.list-demo .product-grid-item {
  margin: 0.5em;
  border: 1px solid var(--surface-d);
}
.list-demo .product-grid-item .product-grid-item-top,
.list-demo .product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-demo .product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}
.list-demo .product-grid-item .product-grid-item-content {
  text-align: center;
}
.list-demo .product-grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  .list-demo .product-list-item {
    flex-direction: column;
    align-items: center;
  }
  .list-demo .product-list-item img {
    width: 75%;
    margin: 2rem 0;
  }
  .list-demo .product-list-item .product-list-detail {
    text-align: center;
  }
  .list-demo .product-list-item .product-price {
    align-self: center;
  }
  .list-demo .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }
  .list-demo .product-list-item .product-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.dataview-demo .p-dataview .car-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
.dataview-demo .p-dataview .car-details > div {
  display: flex;
  align-items: center;
}
.dataview-demo .p-dataview .car-details > div img {
  margin-right: 14px;
}
.dataview-demo .p-dataview .car-detail {
  padding: 0 1em 1em 1em;
  margin: 1em;
}

@media (max-width: 1024px) {
  .dataview-demo .p-dataview .car-details img {
    width: 75px;
  }
}
.floatlabel-demo .p-field {
  margin-top: 2rem;
  margin-bottom: 0;
}

.input-demo .p-multiselect {
  min-width: 15rem;
}
.input-demo .multiselect-custom .country-item {
  display: flex;
  align-items: center;
}
.input-demo .multiselect-custom .country-item span.flag {
  width: 18px;
  height: 12px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.input-demo .multiselect-custom .country-item-value {
  border-radius: 3px;
  display: inline-flex;
  margin-right: 0.5rem;
  background-color: #2196F3;
  color: #ffffff;
}

.media-demo .product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 2rem 0;
}
.media-demo .product-item .product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.menu-demo .stepsdemo-content {
  padding: 1em 0;
}
.menu-demo .stepsdemo-content p {
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin: 0;
}
.menu-demo .stepsdemo-content i {
  vertical-align: middle;
  font-size: 1.5em;
  margin: 0;
}
.menu-demo .contextmenu-image {
  width: 100%;
}

.messages-demo .p-field > label {
  width: 125px;
}
.messages-demo .p-inputtext {
  margin-right: 0.5rem;
}
.messages-demo .p-button {
  min-width: 8em;
}
.messages-demo .p-message {
  margin-left: 0.25em;
}

.misc-demo .badges .p-badge, .misc-demo .badges .p-tag {
  margin-right: 0.5rem;
}
.misc-demo .badges .p-tag {
  line-height: 1;
}
.misc-demo .p-button {
  margin-right: 0.5rem;
}
.misc-demo .p-overlay-badge {
  margin-right: 2rem;
}
.misc-demo .custom-scrolltop {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.misc-demo .custom-scrolltop .p-scrolltop-icon {
  font-size: 1rem;
  color: var(--primary-color-text);
}
.misc-demo .custom-scrolltop:hover {
  background-color: var(--primary-color);
}
.misc-demo .custom-skeleton {
  border: 1px solid var(--surface-d);
  border-radius: 4px;
}
.misc-demo .custom-skeleton ul {
  list-style: none;
}
.misc-demo .custom-chip {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.overlay-demo p {
  line-height: 1.5;
  margin: 0;
}
.overlay-demo .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-demo .product-image {
  width: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.panel-demo .p-toolbar {
  flex-wrap: wrap;
  overflow: auto;
}
.panel-demo p {
  line-height: 1.5;
  margin: 0;
}
.panel-demo .p-card .p-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 1rem 1rem 0 1rem;
}
.panel-demo .p-card .p-card-body {
  padding-top: 0;
}

.icons-demo .icon-filter {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 1.5rem 0;
}
.icons-demo .icons-list {
  text-align: center;
  color: #6c757d;
}
.icons-demo .icons-list .p-md-2 {
  padding: 1em;
}
.icons-demo .icons-list i {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.icons-demo .icon-filter {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 1.5rem 0;
}
.icons-demo .icons-list {
  text-align: center;
  color: #6c757d;
}
.icons-demo .icons-list .p-md-2 {
  padding: 1em;
}
.icons-demo .icons-list i {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.icons-demo .icon-filter {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 1.5rem 0;
}
.icons-demo .icons-list {
  text-align: center;
  color: var(--text-color);
}
.icons-demo .icons-list .p-md-2 {
  padding: 1em;
}
.icons-demo .icons-list i {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--text-color-secondary);
}
.icons-demo pre[class*=language-] {
  background: none !important;
}
.icons-demo pre[class*=language-]:before, .icons-demo pre[class*=language-]:after {
  display: none !important;
}
.icons-demo pre[class*=language-] code {
  border-left: 10px solid var(--surface-d) !important;
  box-shadow: none !important;
  background: var(--surface-b) !important;
  margin: 1em 0;
  color: var(--text-color);
  font-size: 14px;
}
.icons-demo pre[class*=language-] code .token.tag, .icons-demo pre[class*=language-] code .token.keyword {
  color: #2196F3 !important;
}
.icons-demo pre[class*=language-] code .token.attr-name, .icons-demo pre[class*=language-] code .token.attr-string {
  color: #2196F3 !important;
}
.icons-demo pre[class*=language-] code .token.attr-value {
  color: #4CAF50 !important;
}
.icons-demo pre[class*=language-] code .token.punctuation {
  color: var(--text-color);
}
.icons-demo pre[class*=language-] code .token.operator, .icons-demo pre[class*=language-] code .token.string {
  background: transparent;
}

.crud-demo {
  /* Responsive */
}
.crud-demo .table-header {
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row !important;
  }
}
.crud-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.crud-demo .p-toolbar {
  display: flex;
  flex-wrap: wrap;
}
.crud-demo .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}
.crud-demo .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.crud-demo .product-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.crud-demo .product-badge.status-instock {
  background: #C8E6C9;
  color: #256029;
}
.crud-demo .product-badge.status-outofstock {
  background: #FFCDD2;
  color: #C63737;
}
.crud-demo .product-badge.status-lowstock {
  background: #FEEDAF;
  color: #8A5340;
}
.crud-demo .datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}
@media screen and (max-width: 960px) {
  .crud-demo .p-datatable.datatable-responsive .p-datatable-thead > tr > th,
.crud-demo .p-datatable.datatable-responsive .p-datatable-tfoot > tr > td {
    display: none !important;
  }
  .crud-demo .p-datatable.datatable-responsive .p-datatable-tbody > tr {
    border-bottom: 1px solid var(--surface-d);
  }
  .crud-demo .p-datatable.datatable-responsive .p-datatable-tbody > tr > td {
    text-align: left;
    display: flex;
    align-items: center;
    border: 0 none !important;
    width: 100% !important;
    float: left;
    clear: left;
    border: 0 none;
  }
  .crud-demo .p-datatable.datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4rem 1rem -0.4rem -0.4rem;
    font-weight: bold;
  }
  .crud-demo .p-datatable.datatable-responsive .p-datatable-tbody > tr > td .p-progressbar {
    margin-top: 0.5rem;
  }
  .crud-demo .p-datatable.datatable-responsive .p-datatable-tbody > tr > td .actions {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}

.docs h1 {
  margin-top: 28px;
  margin-bottom: 14px;
}
.docs p {
  line-height: 1.5;
}
.docs li {
  line-height: 1.5;
}

pre[class*=language-] {
  background: none !important;
}
pre[class*=language-]:before, pre[class*=language-]:after {
  display: none !important;
}
pre[class*=language-] code {
  border-left: 10px solid var(--surface-d) !important;
  box-shadow: none !important;
  background: var(--surface-b) !important;
  margin: 1em 0;
  color: var(--text-color);
  font-size: 14px;
}
pre[class*=language-] code .token.tag, pre[class*=language-] code .token.keyword {
  color: #2196F3 !important;
}
pre[class*=language-] code .token.attr-name, pre[class*=language-] code .token.attr-string {
  color: #2196F3 !important;
}
pre[class*=language-] code .token.attr-value {
  color: #4CAF50 !important;
}
pre[class*=language-] code .token.punctuation {
  color: var(--text-color);
}
pre[class*=language-] code .token.operator, pre[class*=language-] code .token.string {
  background: transparent;
}

.timeline-demo .custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}
.timeline-demo .p-timeline-event-content, .timeline-demo .p-timeline-event-opposite {
  line-height: 1;
}
@media screen and (max-width: 960px) {
  .timeline-demo .customized-timeline .p-timeline-event:nth-child(even) {
    flex-direction: row !important;
  }
  .timeline-demo .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
    text-align: left !important;
  }
  .timeline-demo .customized-timeline .p-timeline-event-opposite {
    flex: 0;
  }
  .timeline-demo .customized-timeline .p-card {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 960px) {
  .calendar-demo .fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
  }
}
.calendar-demo .fc .fc-col-header-cell-cushion,
.calendar-demo .fc .fc-daygrid-day-number,
.calendar-demo .fc .fc-daygrid-more-link {
  color: var(--primary-color);
}
.calendar-demo .fc-daygrid-dot-event .fc-event-time,
.calendar-demo .fc-daygrid-dot-event .fc-event-title {
  color: var(--text-color);
}

.customer-badge,
.product-badge,
.order-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.customer-badge.status-qualified {
  background: #C8E6C9;
  color: #256029;
}
.customer-badge.status-unqualified {
  background: #FFCDD2;
  color: #C63737;
}
.customer-badge.status-negotiation {
  background: #FEEDAF;
  color: #8A5340;
}
.customer-badge.status-new {
  background: #B3E5FC;
  color: #23547B;
}
.customer-badge.status-renewal {
  background: #ECCFFF;
  color: #694382;
}
.customer-badge.status-proposal {
  background: #FFD8B2;
  color: #805B36;
}

.product-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.product-badge.status-instock {
  background: #C8E6C9;
  color: #256029;
}
.product-badge.status-outofstock {
  background: #FFCDD2;
  color: #C63737;
}
.product-badge.status-lowstock {
  background: #FEEDAF;
  color: #8A5340;
}

.order-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.order-badge.order-delivered {
  background: #C8E6C9;
  color: #256029;
}
.order-badge.order-cancelled {
  background: #FFCDD2;
  color: #C63737;
}
.order-badge.order-pending {
  background: #FEEDAF;
  color: #8A5340;
}
.order-badge.order-returned {
  background: #ECCFFF;
  color: #694382;
}

.block-viewer .block-section {
  margin-bottom: 4rem;
  overflow: hidden;
}
.block-viewer .block-header {
  padding: 1rem 2rem;
  background-color: var(--surface-section);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid var(--surface-d);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-viewer .block-header .block-title {
  font-weight: 700;
  display: inline-flex;
  align-items: center;
}
.block-viewer .block-header .block-title .badge-free {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  background-color: var(--orange-500);
  color: white;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
}
.block-viewer .block-header .block-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  margin-left: 1rem;
}
.block-viewer .block-header .block-actions a, .block-viewer .block-header .block-actions button {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: background-color 0.2s;
  cursor: pointer;
}
.block-viewer .block-header .block-actions a:last-child, .block-viewer .block-header .block-actions button:last-child {
  margin-right: 0;
}
.block-viewer .block-header .block-actions a:not(.block-action-disabled):hover, .block-viewer .block-header .block-actions button:not(.block-action-disabled):hover {
  background-color: var(--surface-c);
}
.block-viewer .block-header .block-actions a.block-action-active, .block-viewer .block-header .block-actions button.block-action-active {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.block-viewer .block-header .block-actions a.block-action-copy i, .block-viewer .block-header .block-actions button.block-action-copy i {
  color: var(--primary-color);
  font-size: 1.25rem;
  margin: 0;
}
.block-viewer .block-header .block-actions a.block-action-disabled, .block-viewer .block-header .block-actions button.block-action-disabled {
  opacity: 0.6;
  cursor: auto !important;
}
.block-viewer .block-header .block-actions a i, .block-viewer .block-header .block-actions button i {
  margin-right: 0.5rem;
}
.block-viewer .block-content {
  padding: 0;
  border: 1px solid var(--surface-d);
  border-top: 0 none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.block-viewer pre[class*=language-] {
  margin: 0 !important;
}
.block-viewer pre[class*=language-]:before, .block-viewer pre[class*=language-]:after {
  display: none !important;
}
.block-viewer pre[class*=language-] code {
  border-left: 0 none !important;
  box-shadow: none !important;
  background: var(--surface-e) !important;
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
  padding: 0 2rem !important;
}
.block-viewer pre[class*=language-] code .token.tag, .block-viewer pre[class*=language-] code .token.keyword {
  color: #2196F3 !important;
}
.block-viewer pre[class*=language-] code .token.attr-name, .block-viewer pre[class*=language-] code .token.attr-string {
  color: #2196F3 !important;
}
.block-viewer pre[class*=language-] code .token.attr-value {
  color: #4CAF50 !important;
}
.block-viewer pre[class*=language-] code .token.punctuation {
  color: var(--text-color);
}
.block-viewer pre[class*=language-] code .token.operator, .block-viewer pre[class*=language-] code .token.string {
  background: transparent;
}
@media screen and (max-width: 575px) {
  .block-viewer .block-header {
    flex-direction: column;
    align-items: start;
  }
  .block-viewer .block-header .block-actions {
    margin-top: 1rem;
    margin-left: 0;
  }
}

.table-demo .p-datatable-frozen-tbody {
  font-weight: bold;
}
.table-demo .p-datatable-scrollable .p-frozen-column {
  font-weight: bold;
}
.table-demo .image-text {
  vertical-align: middle;
  margin-left: 0.5rem;
}

/*# sourceMappingURL=AppDemo.css.map */
